<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <form th:action="@{/newBoard}" th:object="${boardDto}" method="post">
        <label th:for="title">제목</label>
        <div class="form-group">
            <input type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력하세요"
                   th:errorclass="fieldError"/>
            <div class="fieldError" th:errors="*{title}"/>
        </div>

        <label th:for="title">내용</label>
        <div class="form-group">
            <textarea rows="30" cols="100" th:field="*{content}" class="form-control" placeholder="내용을 입력하세요"
                th:errorclass="fieldError"/>
            <div class="fieldError" th:errors="*{content}"/>
        </div>

        <button type="submit" class="btn btn-primary">등록</button>
    </form>

</div>
</body>
</html>