<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div class="jumbotron">
        <h3 class="mb-3" th:text="|${loginMember.name}님 안녕하세요.|"></h3>
        <p class="lead">회원 기능</p>
        <p>
<!--            <a class="btn btn-lg btn-secondary" href="/members/new">회원 수정</a>-->
            <form th:action="@{/logout}" method="post">
                <button class="btn btn-lg btn-secondary" type="submit">로그아웃</button>
            </form>
<!--            <a class="btn btn-lg btn-secondary" th:method="post" href="/logout">로그아웃</a>-->
        </p>
        <p class="lead">게시판 기능</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/newBoard">게시판 등록</a>
            <a class="btn btn-lg btn-dark" href="/boards">게시판 목록</a>
        </p>

    </div>

</div>
</body>
</html>